/* ====
FONTS 
===== */

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/opensans-regular-webfont.eot);
    src: url(../fonts/opensans-regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/opensans-regular-webfont.woff2) format('woff2'), url(../fonts/opensans-regular-webfont.woff) format('woff'), url(../fonts/opensans-regular-webfont.ttf) format('truetype'), url(../fonts/opensans-regular-webfont.svg#open_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'afta_serifregular';
    src: url(../fonts/aftaserifthin-regular.eot);
    src: url(../fonts/aftaserifthin-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/aftaserifthin-regular.woff2) format('woff2'), url(../fonts/aftaserifthin-regular.woff) format('woff'), url(../fonts/aftaserifthin-regular.ttf) format('truetype'), url(../fonts/aftaserifthin-regular.svg#afta_serifregular) format('svg');
    font-weight: 400;
    font-style: normal
}

a,
body,
input,
li,
option,
p,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

.main {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    box-sizing: border-box;
   
}

h1:first-child {
     padding-top: 10px;
}
  

.col-sm-6 {
    width: 49%;
}

a {
    color: #1b6110;
}

a:hover,
a:active,
a:focus {
    color: #1b6110;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'afta_serifregular', serif;
    text-transform: uppercase;
    clear: both;
}

h1,
.h1 {
    font-size: 26px;
}

h2,
.h2 {
    font-size: 24px;
}

h3,
.h3 {
    font-size: 22px;
}

blockquote {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.center {
    text-align: center;
}

.img-center {
    display: block;
    margin: 10px auto;
}

figure {
    text-align: center;
}

.bold {
    font-weight: bold;
}

hr {
    display: block;
}


/* ====
BUTTONS 
===== */

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    background-color: #ad8e3b;
    border-color: #ad8e3b;
}

.btn-secondary.active.focus,
.btn-secondary.active:focus,
.btn-secondary.active:hover,
.btn-secondary.focus:active,
.btn-secondary:active:focus,
.btn-secondary:active:hover {
    background-color: #91908c;
    border-color: #91908c;
}

.btn {
    color: #FFF;
    font-family: 'afta_serifregular', serif;
    text-transform: uppercase;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #ddba5d 0px, #ad8e3b 100%);
    background-repeat: repeat-x;
    border: none;
}

.btn-secondary {
    background-image: linear-gradient(to bottom, #c3c3c3 0px, #91908c 100%);
    background-repeat: repeat-x;
    border: none;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #FFF;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #ad8e3b;
}


/* ====
BODY 
===== */

body {
    background-color: #eee;
    background-image: url("../_img/white_carbon_light.png");
    padding-top: 52px;
}

@media (min-width: 768px) {
    body {
        padding-top: 92px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
}

body > .container {
    background-color: #fff;
}


/* ====
NAVBAR 
===== */
.navbar-header {
 border-bottom: 0;
}

.navbar-nav {
   margin-top: 0;
    /*margin-left: 0;
    margin-right: 0;*/
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar > .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar {
    border: 0;
}

.navbar-header {
    max-height: 70px;
    border-bottom: 0;
}

.navbar > .container,
.navbar-header,
.collapse .navbar-collapse,
.navbar-brand,
.navbar-nav {
    height: 100%;
}

.navbar-brand {
    padding: 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-default {
    background-color: #1b6110;
    background-image: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: 'afta_serifregular', serif;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: #114309;
}


/* Phone and email */

.contact-bar {
    display: none;
}

@media (min-width: 768px) {
    .contact-bar {
        background-color: white;
        display: block;
    }
    
    .contact-us {
        float: right;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 0.8em;
        padding: 0.25em;
    }
    .contact-us,
    .contact-us a {
        font-family: 'afta_serifregular', serif;
    }
    .contact-us a {
        color: #1b6110;
    }
}


/* logo */

.navbar-brand,
.navbar-brand > img {
    max-height: 50px;
    max-width: 100px;
    margin-left: 15px;
}

@media (min-width: 768px) {
    .navbar-brand,
    .navbar-brand > img {
        max-height: 70px;
        max-width: 140px;
        margin-left: 0;
    }
}


/* Styles for mobile menu */

.navbar-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-top: 0;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}


/* Styles for non-mobile menu */

@media (min-width: 768px) {
    .navbar-brand,
    .navbar-brand > img {
        margin-left: 0;
    }
    .navbar-brand > img {
        transition: all 0.3s ease-in;
    }
    .navbar > .container {
        display: flex;
        justify-content: space-between;
    }
    .navbar-header {
        max-height: 70px;
        max-width: 140px;
        flex: 0 1 140px;
        transition: all 0.3s ease-in;
       
    }
    .navbar-menu {
        display: flex;
        justify-content: space-between;
        flex: 1 1 100%;
    }
    .navbar-collapse {
        width: 100%;
    }
    /* nav ul */
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        flex: 1 1 100%;
        width: 100%;
    }
    .navbar-nav > li {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
    }
    .navbar-nav > li a {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0.75em;
        /* Makes a tags/menu items center vertically */
    }
}


/* ====
FOOTER 
===== */

    footer {
        padding-bottom: 20px;
    }

footer p {
    margin-bottom: 0;
    display: inline-block;
    font-size: 12px;
    color: #999;
}

.footer-logo {
    display: none;
}

@media (min-width: 768px) {
    .copyright {
        height: 60px;
        ;
        position: relative;
    }
    footer p {
        position: absolute;
        bottom: 0;
    }
    .footer-logo {
        display: inline-block;
        float: right;
    }
}


/* ====
HOMEPAGE IMAGE CAROUSEL 
===== */

.feature-img {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
}

.carousel.fade {
    opacity: 1;
}

.carousel.fade .item {
    -moz-transition: opacity ease-in-out 2s;
    -o-transition: opacity ease-in-out 2s;
    -webkit-transition: opacity ease-in-out 2s;
    transition: opacity ease-in-out 2s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}

.carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 2s;
    -o-transition: opacity ease-in-out 2s;
    -webkit-transition: opacity ease-in-out 2s;
    transition: opacity ease-in-out 2s;
    z-index: 2;
}

.carousel {
    position: relative;
}

.carousel-indicators li {
    cursor: default;
}


/* ====
HOMEPAGE 
===== */

.signature {
    margin-bottom: 20px;
    max-width: 234.5px;
}

.image-container {
    width: 100%;
    max-height: 380px;
    max-width: 1140px;
    position: relative;
}

.gallery-preview-img {
    filter: opacity(50%);
    transition: all 0.3s ease;
}

.gallery-preview-img:hover {
    filter: opacity(100%);
}

.image-container > img {
    max-width: 100%;
}

.image-container > .btn {
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 104px;
    max-height: 20px;
    padding: 10px 20px;
    box-sizing: content-box;
}


/* ====
ABOUT
===== */

.john {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.masterlogo-container {
    text-align: center;
}

.masterlogo {
    display: inline-block;
    max-width: 100%;
    width: 120px;
    margin: 10px auto 20px;
}

figcaption {
    clear: both;
}

.staff-photos {
    padding-left: 0;
    width: 100%;
}

.staff-img {
    display: inline-block;
}

.staff-photos li {
    width: 47.5%;
    list-style: none;
    display: inline-block;
    float: left;
}

.staff-photos li:nth-child(1),
.staff-photos li:nth-child(2),
.staff-photos li:nth-child(3),
.staff-photos li:nth-child(4) {
    margin-bottom: 30px;
}

.staff-photos li:nth-child(5),
.staff-photos li:nth-child(6) {
    margin-bottom: 30px;
}

.staff-photos li:nth-child(odd) {
    margin-right: 5%;
}

.staff-photos li:nth-child(even) {
    margin-right: 0;
}

@media (min-width: 768px) {
    .john {
        display: inline-block;
        float: left;
        margin: 0 20px 0 0;
        max-width: 400px;
    }
    .masterlogo {
        float: right;
        margin: 0 0 24px 1em;
    }
    .staff-photos li {
        width: 26%;
    }
    /* Left and right margins */
    .staff-photos li:nth-child(1),
    .staff-photos li:nth-child(2),
    .staff-photos li:nth-child(4),
    .staff-photos li:nth-child(5) {
        margin-right: 11%;
    }
    .staff-photos li:nth-child(3n) {
        margin-right: 0;
    }
    /* Top and bottom margins */
    .staff-photos li:first-child,
    .staff-photos li:nth-child(2),
    .staff-photos li:nth-child(3) {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .staff-photos li:nth-child(4),
    .staff-photos li:nth-child(5),
    .staff-photos li:nth-child(6) {
        margin-top: 0;
        margin-bottom: 30px;
    }
    /* Building Process */
    .process-icons {
        display: block;
        width: 100%;
        margin: 0 auto;
        height: auto;
        max-width: 48px;
    }
}

.process-icons {
    margin-top: 10px;
}

.process {
    margin-bottom: 0;
}


/* ====
TESTIMONIALS 
===== */

.review-author {
    font-weight: bold;
}


/* ====
GALLERY
==== */

.gallery {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.gallery li {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 49%;
    background: #fff;
    text-align: center;
    position: relative;
}

.gallery li:nth-child(2),
.gallery li:nth-child(4),
.gallery li:nth-child(6),
.gallery li:nth-child(8),
.gallery li:nth-child(10) {
    margin-right: 0;
}

@media (min-width: 480px) {
    .gallery li {
        width: 32%;
    }
    .gallery li:nth-child(3),
    .gallery li:nth-child(6),
    .gallery li:nth-child(9) {
        margin-right: 0;
    }
    .gallery li:nth-child(2),
    .gallery li:nth-child(4),
    .gallery li:nth-child(8),
    .gallery li:nth-child(10) {
        margin-right: 2%;
    }
}

@media (min-width: 768px) {
    .gallery li {
        width: 23.5%;
    }
    .gallery li:nth-child(4),
    .gallery li:nth-child(8) {
        margin-right: 0;
    }
    .gallery li:nth-child(3),
    .gallery li:nth-child(6),
    .gallery li:nth-child(9) {
        margin-right: 2%;
    }
}

@media (min-width: 992px) {
    .gallery li {
        width: 18.4%;
    }
    .gallery li:nth-child(5n) {
        margin-right: 0;
    }
    .gallery li:nth-child(4n) {
        margin-right: 2%;
    }
}

.gallery-images {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.gallery li a {
    line-height: 0;
    position: relative;
}

.gallery a:first-child {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.gallery a:first-child:before {
    content: '';
    position: absolute;
    border: 4px solid #fff;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.gallery a:first-child:active:before,
.gallery a:first-child:focus:before,
.gallery a:first-child:hover:before {
    opacity: 1;
}

.medals {
    position: absolute;
    display: inline-block;
    bottom: 2%;
    right: 2%;
    height: 20%;
    width: auto;
    max-height: 60px;
    max-width: 60px;
}

.medalthree {
    margin-right: 30%;
    z-index: 999;
}

.medaltwo {
    margin-right: 15%;
    z-index: 998;
}

.medalone {
    z-index: 997;
}


/* ====
CONTACT
==== */

.hours-container {
    list-style: none;
    padding-left: 0;
    max-width: 332px;
}

.opening-hours {
    float: right;
    font-style: italic
}

.gmap {
    display: block;
    width: 100%;
    height: 300px;
    max-height: 300px;
}

@media (min-width: 768px) {
    .gmap {
        height: 400px;
        max-height: 400px;
    }
}


/* PHP Errors */

.error {
    list-style: disc;
}

.success p {
    color: #1B6110
}

.error li,
.error p {
    color: #c73737
}

p#errors,
p#success {
    display: none
}

/* Parsley Errors */

.parsley-errors-list {
    padding-left: 0;
}

.parsley-errors-list li {
    list-style: none;
    color: #c73737;
    padding: 4px
}

.social {
    max-width: 40px;
    height: auto;
}

.captcha {
    -webkit-transform: scale(.84);
    transform: scale(.84);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    max-width: 100%
}

.form-control:focus {
    border-color: #1b6110;
}